* {
  box-sizing: border-box;
}

body {
    background-image: radial-gradient(#95d7e5,#59ffbb);
}

#top {
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: 'Jua', sans-serif;
}

#main {
    margin: auto;
    width: 80%;
    height:80%;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: #fffcc0;
    font-family: 'Helvetica', sans-serif;
    overflow: auto;
}

#content {
    text-align: center;
    margin: auto;
    width:100%;
}

#forms: after{
    display: table;
    clear:both;
}

#login{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width:60%;
}

textarea{
    display: block;
    width:100%;
    resize: vertical;
    height: 100px;
}



.nForm{
    margin-top:30px;
}
.rForm{
    margin-top: 50px;
}

input{
    display:block;
    margin:5px auto;
    width:100%;
}

select{
    margin: auto;
    width:100%;
}


#create {
    display: block;
    margin: auto;
    width:33%;
    float: left;
    text-align: center;
    padding: 10px;
}

#retrieve {
    display: block;
    margin: auto;
    width:33%;
    float: left;
    text-align: center;
    padding: 10px;
}

#view {
    display: block;
    margin: auto;
    width:33%;
    float: left;
    text-align: center;
    padding: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}